.card {
  max-width: 420px;
  padding: 36px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.question {
  margin-bottom: 1px;
}

.attempts {
  margin-bottom: 41px;
  opacity: 0.5;
}

.answer {
  margin-bottom: 12px;
}

.radioButtons {
  margin-bottom: 29px;
}
